// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";
@import 'patterns/card';
@import 'patterns/bta';

// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';
// @import 'patterns/bta';
// @import 'patterns/interupt';
// @import 'patterns/choc';
// @import 'patterns/print';

// Components that aren't in Frontend
@import "components/cookie-banner";

.with-hint span {
    color: #6f777b;
  }

  .hmrc-notification-badge {
      display: inline-block;
      min-width: 10px;
      padding: 5px 8px 1px 8px;
      border-radius: 10px;
      color: #ffffff;
      background: #b10e1e;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      margin: 0 0 0 2px;
    }


bold {
  font-weight: bold;
}
