{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the email address
{% endblock %}

{% block beforeContent %}
{% include ".././includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="other-taxes" method="post">
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Confirm the email address
              </h1>
            </legend>


              <p>
                The new email address is
                {% if (data['emailAddress'] == null)  %}
              accounts@abcdigital.com
                {% else %}
                {{data['emailAddress']}}
                {% endif %}
              </p>

              <p><a href="./business-email">Change the email address</a></p>


              {% from "govuk/components/button/macro.njk" import govukButton %}


              {{ govukButton({
                text: "Confirm and continue"
              }) }}
            </fieldset>
            </div>
      </form>

    </div>
</div>





{% endblock %}
