<div class="topnav large">

  <a href="business-tax-account">Home</a>

  {% if (data['emailAddress'] == "unverified")  %}
  <a href="manage-account?emailAddress=unverified">Manage account
    <span class="hmrc-notification-badge">!</span>
</a>
{% elseif (data['emailAddress'] == "unusable")  %}
<a href="manage-account?emailAddress=unusable">Manage account
  <span class="hmrc-notification-badge">!</span>
</a>
{% else %}

  <a href="manage-account">Manage account</a>
  {% endif %}
  <a href="messages">Messages</a>


  <a href="#">Help and contact</a>

  <div class="govuk-body" style="padding-right:0; float:right;">
    <span>English |&nbsp;</span>
    <span><a class="govuk-link govuk-body govuk-link--no-visited-state" href="" style="padding-right:0; float:right;">Cymraeg</a></span>
  </div>
</div>
