{% extends "layout.html" %}

{% block pageTitle %}
How would you prefer to be contacted?
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="add-preference/business-email" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            How would you prefer to be contacted?
          </h1>
        </legend>

        {% if (data['tax'] == "itsa")  %}
        <span id="changed-name-hint" class="govuk-hint">
          You are currently contacted by email for Self Assessment at sales@abcdigital.com
        </span>


        {% else %}

        {% if (data['contactPref'] == "Letter")  %}
        <span id="changed-name-hint" class="govuk-hint">
          You are currently contacted by letter for VAT
        </span>
        {% else %}
        <span id="changed-name-hint" class="govuk-hint">
          You are currently contacted by email for VAT at accounts@abcdigital.com
        </span>
        {% endif %}
        {% endif %}




        <div class="govuk-radios">
          {% if (data['contactPref'] != "Letter")  %}
          {% else %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contactPref" name="contactPref" type="radio" value="Email address">
            <label class="govuk-label govuk-radios__label" for="sign-in">
              Email address
            </label>
            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              sales@abcdigital.com
            </span>
          </div>
          {% endif %}





                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="contactPref-2" name="contactPref" type="radio" value="new email">
                      <label class="govuk-label govuk-radios__label" for="sign-in">
                        A new email address
                      </label>
                      <!-- <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        0121 445 5555
                      </span> -->

                    </div>


                              {% if (data['contactPref'] == "Letter")  %}
                              {% else %}
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contactPref" name="contactPref" type="radio" value="Letter">
                                <label class="govuk-label govuk-radios__label" for="sign-in">
                                  Letter
                                </label>
                                <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                  30 Romford Road TF1 4ER

                                </span>
                              </div>
                              {% endif %}
                              
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contactPref-3" name="contactPref" type="radio" value="Landline number">
            <label class="govuk-label govuk-radios__label" for="sign-in">
              Landline number
            </label>
            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              0121 445 5555
            </span>

          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contactPref-4" name="contactPref" type="radio" value="Mobile number">
            <label class="govuk-label govuk-radios__label" for="sign-in">
              Mobile number
            </label>
            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              07700 900457
            </span>

          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contactPref-5" name="contactPref" type="radio" value="SMS">
            <label class="govuk-label govuk-radios__label" for="SMS">
              SMS
            </label>
            <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              07700 900457
            </span>

          </div> -->


        </div>
      </fieldset>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue"
    }) }}
</form>

  </div>
</div>





  {% endblock %}
