{% extends "layout.html" %}

{% block pageTitle %}
  Manage Account
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% include "./includes/phase.html" %}

{% include "./includes/bta-nav.html" %}


{% endblock %}

{% block content %}





      <div class="govuk-width-container">
          <div id="content">


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

          <!-- <script>
          document.write('<a href="' + document.referrer + '" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>');
      </script>
       -->

          <h1 class="govuk-heading-xl">
            Manage account
          </h1>

        </div>



        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">



          <div class="govuk-inset-text">
          You need to verify your email address. <a href="confirmation-email">Resend the email</a> to verify it
</div>

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <h2 class="govuk-heading-s">Add a tax, duty or scheme to your account</h2>
        <p><a class="govuk-link govuk-body govuk-link--no-visited-state" href="add-tax-A1">
            Get online access to a tax, duty or scheme </a></p>
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

        <h2 class="govuk-heading-s">Remove a tax, duty or scheme from your account</h2>

        <p>
          <a class="govuk-link govuk-body govuk-link--no-visited-state" href="deregister-A1.html">
            Deregister a tax, duty or scheme</a>
        </p>
        <p>
          <a class="govuk-link govuk-body govuk-link--no-visited-state" href="remove-tax-A1.html">
            Stop access to a tax, duty or scheme online</a>
        </p>

      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-s">Account access</h2>
        <a class="govuk-link govuk-body govuk-link--no-visited-state" href="team-members-gg">
          Add or delete a team member
        </a>
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-7">

        <a class="govuk-link govuk-body govuk-link--no-visited-state" href="manage-user.html">
          Give a team member access to a tax, duty or scheme
        </a>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-s">Account details</h2>



        <a class="govuk-link govuk-body govuk-link--no-visited-state" href="account-details">
          View or change your account details
          {% if (data['emailAddress'] == "unverified") or (data['emailAddress'] == "unusable")  %}
          <span class="hmrc-notification-badge">!</span>
          {% endif %}

        </a>
      </div>




      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-s">Direct Debit</h2>



        <a class="govuk-link govuk-body govuk-link--no-visited-state" href="#">
          View or change your Direct Debit details

        </a>
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
      </div>

      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
      <p class="govuk-body govuk-!-margin-top-9 govuk-!-font-size-16"><a href="#">Is there anything wrong with this page?</a></p>
    </div>


      </div>
      </div>



      <!-- <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>

      <p>Registering takes around 5 minutes.</p>

      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also <a href="#">register by post</a>.</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

      <p>You can’t register for this service if you’re in the UK illegally.</p> -->


{% endblock %}
