{% extends "layout.html" %}

{% block pageTitle %}
Contact preference updated
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}


{% endblock %}

{% block content %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['contactPref'] == "letter")  %}
      {{ govukPanel({
        titleText: "New contact preference for VAT",
        html: " "
      }) }}
      {% else %}

      {{ govukPanel({
        titleText: "Contact preference updated",
        html: " "
      }) }}
      {% endif %}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>



        {% if (data['contactPref'] == "Letter")  %}

        <p class="govuk-body">
          From now on you will receive letters for your VAT to your address;</p>
            <p>
              30 Romford Road<br>
              Wellington<br>
              TF1 4ER

          </p>






            {% else %}
        <p class="govuk-body">
          From now on we will contact you about your VAT through info@abcdigital.com.
          </p>
          <p class="govuk-body">
            In some cases we'll need to send you letters because the law requires it.
        </p>

        {% endif %}


        <h3 class="govuk-heading-s">Direct Debits</h3>
        <p>If you want to use this email for your direct debit notifications,
          <a target="_blank" href="https://mtdfb-wip-prototype.herokuapp.com/10/manage_happy/enter_email_address_vpp">update your direct debit email address (opens in a new window or tab)</a>.</p>


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {% if (data['contactPref'] == "Letter")  %}
      {{ govukButton({
        text: "View your account details",
        href: "./account-details",
        isStartButton: false
      }) }}

      {% else %}
      {{ govukButton({
        text: "View your account details",
        href: "./account-details?contactPref=newEmail",
        isStartButton: false
      }) }}

      {% endif %}


    </div>
  </div>
{% endblock %}
