{% extends "layout.html" %}

{% block pageTitle %}
Tax reminder preferences
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Tax reminder preferences</h1>


    <form class="form" action="confirm-preference-tax" method="post">
    <!-- <form method="post" class="form"> -->

    {% from "govuk/components/radios/macro.njk" import govukRadios %}







    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      idPrefix: "vatreminder",
      name: "vatreminder",
      fieldset: {
        legend: {
          text: "VAT reminders",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
         text: "Select how you would like to be contacted for VAT reminders"
       },


      items: [
        {
          value: "Primary email address",
          text: "sales@abcdigital.com"
        },
        {
          value: "Secondary email address",
          text: "john.b@abcdigital.com"
        },
        {
          value: "letter",
          text: "Letter"

        },
        {
          value: "SMS",
          text: "SMS"
        }
      ]
    }) }}


    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      idPrefix: "SAreminder",
      name: "SAreminder",
      fieldset: {
        legend: {
          text: "Self assessment reminders",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
         text: "Select how you would like to be contacted for self assessment reminders"
       },


      items: [
        {
          value: "Primary email address",
          text: "sales@abcdigital.com"
        },
        {
          value: "Secondary email address",
          text: "john.b@abcdigital.com"
        },
        {
          value: "Letter",
          text: "Letter"
        },
        {
          value: "SMS",
          text: "SMS"
        }
      ]
    }) }}




    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Confirm"
    }) }}


    </form>
  </div>
</div>





  {% endblock %}
