{% extends "layout.html" %}

{% block pageTitle %}
  What is the email address
{% endblock %}

{% block beforeContent %}
{% include ".././includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="confirm-email" method="post">
    <!-- <form method="post" class="form"> -->





      {% if (data['emailAddress'] == null)  %}

      {{ govukInput({
        label: {
          text: "What is the email address?",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        hint: {
          text: "For example, name@example.com"
        },
        classes: "govuk-!-width-one-half",
        id: "emailAddress",
        value: "info@abcdigital.com",
        name: "emailAddress"
      }) }}


        {% else %}


        <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What is the email address?
            </h1>
          </legend>

          <span id="email-hint" class="govuk-hint">
            For example, name@example.com
          </span>
          <input value="{{data['emailAddress']}}" class="govuk-input govuk-!-width-one-half" id="emailAddress" name="emailAddress" type="emailAddress" aria-describedby="email-hint" autocomplete="email" spellcheck="false">


        </fieldset>

        </div>


        {% endif %}
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>
  </div>
</div>





  {% endblock %}
