{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the contact preference for Corporation Tax
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<form class="form" action="confirmation-update-preference" method="post">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Confirm the contact preference for VAT
      </h1>
    </legend>

        <p>
          {% if (data['contactPref'] == "Primary email address")  %}
          The new contact preference for VAT is email using your
          {% else %}
          The new contact preference for VAT is
          {% endif %}

          <!-- {% if (data['how-to-be-contacted'] == null)  %}
        accounts@abcdigital.com
          {% else %}
          {{data['how-to-be-contacted']}}
          {% endif %} -->

          {{data['contactPref']}}

        </p>

        <p><a href="./choose-preference">Change the contact preference</a></p>


        {% from "govuk/components/button/macro.njk" import govukButton %}

    </fieldset>
  </div>

        {{ govukButton({
          text: "Confirm and continue"
        }) }}


      </form>

    </div>
</div>





{% endblock %}
