{% extends "layout.html" %}

{% block pageTitle %}
How would you prefer to be contacted?
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
          <form class="form" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-heading-l">
                    Would you like us to use your email address
                  </h1>
                  <div class="govuk-inset-text">
                    sales@abcdigital.com
                  </div>
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="change1" name="change_pref_to" type="radio" value="email">
                    <label class="govuk-label govuk-radios__label" for="change1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="change2" name="change_pref_to" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="change2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


        </div>
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}
    </form>
  </div>
</div>





  {% endblock %}
