{% extends "layout.html" %}

{% block pageTitle %}
Contact preference updated
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}


{% endblock %}

{% block content %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {{ govukPanel({
        titleText: "You have asked us to change how we contact you about VAT",
        html: " "
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

        {% if data['pref_type'] == "email" %}
          <p class="govuk-body">
            <br>
              If we can accept the change, we will contact you about VAT at sales@abcdigital.com
            </p>
            <p class="govuk-body">
              We’ll still need to send you some letters in the post because the law tells us to. 
          </p>
        {% else %}
        <p class="govuk-body">
          <br>
          If we can accept the change, we will contact you about VAT at:
          </p>
          <p class="govuk-inset-text">
            30 Romford Road,<br>
            Madeley,<br>
            Telford,<br>
            TF1 4ER.
          </p>
          {% endif %}

      {% from "govuk/components/button/macro.njk" import govukButton %}


      {{ govukButton({
        text: "View your account details",
        href: "./account-details",
        isStartButton: false
      }) }}


    </div>
  </div>
{% endblock %}
