{% extends "layout.html" %}

{% block pageTitle %}
How would you prefer to be contacted?
{% endblock %}

{% block beforeContent %}
{% include "./includes/phase.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
          <form class="form" method="post">
            <div class="govuk-form-group">

                <h1 class="govuk-heading-xl">
                  There is already a change pending
                </h1>

                <p>AA recent request was made to change the business’s principal place of business.</p>
                <p>Until this is confirmed, you cannot change the: </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>website address</li>
                  <li>contact details</li>
                  <li>contact preference</li>
                </ul>

            </div>


        </div>
        <a href="account-details">Back to account details</a>
    </form>
  </div>
</div>





  {% endblock %}
