
{% extends "layout.html" %}

{% block pageTitle %}
  Maintain Preferences Prototype
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

      <h1 class="govuk-heading-xl">
        Maintain Preferences Prototype
      </h1>


      <h2 class="govuk-heading-m">v0-9-0 (Payment History)</h2>
      <p class="govuk-body">Building on payment history design to amend for technical requirements</p>
      <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link-m" href="/0-9-0/payment-history2021">View payment history</a></li>
      </ul>

      <h2 class="govuk-heading-m">v0-8-0</h2>
      <p class="govuk-body">Incorporate less happy path journey for contact preference changes</p>
      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/0-8-0/contact-pref-scenarios">Scenario selection</a></li>
      </ul>

      <h2 class="govuk-heading-m">vMVP</h2>


      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">

    <li>Removed other taxes</li>

    <li><a href="MVP/login?emailAddress=unverified">Unverified sign in</a></li>
    <li><a href="MVP/login?emailAddress=unusable">Unusable sign in</a></li>
    <li><a href="MVP/login?contactPref=Letter">Preference letter</a></li>

      </ul>
    <p><a href="MVP/login">View</a> | <a href="MVP/index">Contents</a>
      </p>




            <h2 class="govuk-heading-m">v0-7-0</h2>


            <p class="govuk-body">Summary of features for this version:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="0-7-0/login?emailAddress=unverified">Unverified sign in</a></li>
              <li><a href="0-7-0/login?emailAddress=unusable">Unusable sign in</a></li>
              <li><a href="0-7-0/login?contactPref=Letter">Preference letter</a></li>
              <li>Aligned with BTA</li>
            </ul>
          <p><a href="0-7-0/login">View</a> | <a href="0-7-0/index">Contents</a>
            </p>


      <h2 class="govuk-heading-m">v0-6-0 UR 04.02.20</h2>


      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added unverified alert > <a href="0-6-0/login?emailAddress=unverified">Unverified sign in</a></li>
        <li>Unusable email alert > <a href="0-6-0/login?emailAddress=unusable">Unusable sign in</a></li>
        <li>Added letter preference journey > <a href="0-6-0/login?contactPref=Letter">Preference letter</a></li>
        <li>Aligned with BTA</li>
      </ul>
    <p><a href="0-6-0/login">View</a> | <a href="0-6-0/index">Contents</a>
      </p>



      <h2 class="govuk-heading-m">v0-5-0 UR 20.01.20</h2>


      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added unverified alert > <a href="0-5-0/login?emailAddress=unverified">Unverified sign in</a></li>
        <li>Added letter preference journey > <a href="0-5-0/login?contactPref=Letter">Preference letter</a></li>
      <li>Added link to Direct Debit</li>
      <li>Iterated email change journey</li>
      <li>Iterated preference journey</li>
      </ul>
    <p><a href="0-5-0/login">View</a> | <a href="0-5-0/index">Contents</a>
      </p>



      <h2 class="govuk-heading-m">v0-4-0 UR 04.12.19</h2>


      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Design variation including mulitple changes per page</li>
      <li>Added PAYE</li>
      </ul>
    <p><a href="0-4-0/login">View</a> | <a href="0-4-0/index">Contents</a>
      </p>


      <h2 class="govuk-heading-m">v0-3-0 UR 21.11.19</h2>

      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Design variation with mulitple changes per page</li>
      </ul>
    <p><a href="0-3-0/login">View</a> | <a href="0-3-0/index">Contents</a>
      </p>



      <h2 class="govuk-heading-m">v0-2-0 UR 21.11.19</h2>

      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>replicated BTA accounts page</li>
        <li>looked at how to handle non etmp taxes</li>
      </ul>
    <p><a href="0-2-0/login">View</a> | <a href="0-2-0/index">Contents</a>
      </p>


      <h2 class="govuk-heading-m">v0-1-0 UR 06.11.19</h2>

      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>initial prototype created</li>
        <li>journeys created for scenarios</li>
        <li>limited logic in place</li>
      </ul>
    <p><a href="0-1-0/login">View</a> | <a href="0-1-0/index">Contents</a>
      </p>


<!--

      <h2 class="govuk-heading-m">v0-1-0 UR 22.10.19</h2>

      <p class="govuk-body">Summary of features for this version:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>initial prototype created</li>
        <li>journeys created for scenarios</li>
        <li>limited logic in place</li>
      </ul>
    <p><a href="0-1-0/login">View</a> | <a href="0-1-0/index">Contents</a>
      </p> -->



{% endblock %}
